.hero__title {
  color: #36536b;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.431px;
}

.hero__bg {
  background-repeat: no-repeat;
  background-image: url("../../img/hero__bg.svg");
  background-position: right top;
}
